In [1]:
from pymongo import MongoClient
import pandas as pd

In [2]:
client = MongoClient("mongodb://user:password@mongo:27017")
db = client["TruckData"]
col = db["trucks"]

In [3]:
data = pd.DataFrame(col.find())
data.head()

,_id,speed_kmh,truck_id,latitude,longitude,timestamp
0,"{'truck_id': 'truck_1', 'timestamp': '2022-05-...",105.564505,truck_1,53.560670,9.990800,2022-05-09T06:58:53.188Z
1,"{'truck_id': 'truck_1', 'timestamp': '2022-05-...",97.738887,truck_1,53.560668,9.990795,2022-05-09T06:58:59.751Z
2,"{'truck_id': 'truck_1', 'timestamp': '2022-05-...",79.344973,truck_1,53.560780,9.990770,2022-05-09T06:59:01.754Z
3,"{'truck_id': 'truck_1', 'timestamp': '2022-05-...",107.044527,truck_1,53.560840,9.990740,2022-05-09T06:59:03.757Z
4,"{'truck_id': 'truck_1', 'timestamp': '2022-05-...",75.097374,truck_1,53.561090,9.990480,2022-05-09T06:59:05.761Z

In [4]:
pipeline = [
    {
        '$match': {
            'timestamp': {
                '$gte': '2022-01-07'
            }
        }
    }
]

In [5]:
df = pd.DataFrame(col.aggregate(pipeline))
df.head()

,_id,speed_kmh,truck_id,latitude,longitude,timestamp
0,"{'truck_id': 'truck_1', 'timestamp': '2022-05-...",105.564505,truck_1,53.560670,9.990800,2022-05-09T06:58:53.188Z
1,"{'truck_id': 'truck_1', 'timestamp': '2022-05-...",97.738887,truck_1,53.560668,9.990795,2022-05-09T06:58:59.751Z
2,"{'truck_id': 'truck_1', 'timestamp': '2022-05-...",79.344973,truck_1,53.560780,9.990770,2022-05-09T06:59:01.754Z
3,"{'truck_id': 'truck_1', 'timestamp': '2022-05-...",107.044527,truck_1,53.560840,9.990740,2022-05-09T06:59:03.757Z
4,"{'truck_id': 'truck_1', 'timestamp': '2022-05-...",75.097374,truck_1,53.561090,9.990480,2022-05-09T06:59:05.761Z