In [15]:
from pymongo import MongoClient
import pandas as pd

In [16]:
client = MongoClient("mongodb://user:password@mongo:27017")
db = client["TruckData"]
col = db["truck_1"]

In [17]:
data = pd.DataFrame(col.find())
data.head()

,_id,speed_kmh,latitude,longitude,timestamp
0,6218cf04ea0a3f36d13a69fd,105.564505,53.560670,9.990800,2022-02-25T12:42:49.947Z
1,6218cf04ea0a3f36d13a69fe,97.738887,53.560668,9.990795,2022-02-25T12:42:56.144Z
2,6218cf04ea0a3f36d13a69ff,79.344973,53.560780,9.990770,2022-02-25T12:42:58.147Z
3,6218cf04ea0a3f36d13a6a00,107.044527,53.560840,9.990740,2022-02-25T12:43:00.150Z
4,6218cf04ea0a3f36d13a6a01,75.097374,53.561090,9.990480,2022-02-25T12:43:02.153Z

In [18]:
pipeline = [
    {
        '$match': {
            'timestamp': {
                '$gte': '2022-01-07'
            }
        }
    }
]

In [19]:
df = pd.DataFrame(col.aggregate(pipeline))
df.head()

,_id,speed_kmh,latitude,longitude,timestamp
0,6218cf04ea0a3f36d13a69fd,105.564505,53.560670,9.990800,2022-02-25T12:42:49.947Z
1,6218cf04ea0a3f36d13a69fe,97.738887,53.560668,9.990795,2022-02-25T12:42:56.144Z
2,6218cf04ea0a3f36d13a69ff,79.344973,53.560780,9.990770,2022-02-25T12:42:58.147Z
3,6218cf04ea0a3f36d13a6a00,107.044527,53.560840,9.990740,2022-02-25T12:43:00.150Z
4,6218cf04ea0a3f36d13a6a01,75.097374,53.561090,9.990480,2022-02-25T12:43:02.153Z